@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 6 - fhussain35</h1>
    <p class="lead">Add artists and their photos and documents. Also add their albums and add tracks with audio clips</p>
    <p><a href="http://fhussain35-web524-a6.azurewebsites.net/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About the app</h2>
        <p>Accounts registered to specific roles will only have access to certain functions</p>
        <p>Add your favorite  artist and their albums</p>
    </div>
    <div class="col-md-4">
        <h2>Beware</h2>
        <p>Once you add an artist or album <strong>YOU CANNOT DELETE THEM!!!</strong></p>
    </div>
</div>